*.log
*.dot
*.iml
*~
target/
evosuite-files
evosuite-report
evosuite-tests
plugins/jenkins/work
build
transitionLog.txt
.DS_Store
.project
.settings
.classpath
.idea
bin/
examples/mine/
examples/plot/
examples/indi_plot/
src/main/resources/log4j.properties
*.jar
*.orig
master/dependency-reduced-pom.xml
shaded/dependency-reduced-pom.xml
standalone_runtime/dependency-reduced-pom.xml
