<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <!--
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>output.log</file>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <logger name="de.unisb.cs.st.evosuite.cfg" level="WARN" />
  <logger name="de.unisb.cs.st.evosuite.coverage.branch" level="WARN" />
  <logger name="de.unisb.cs.st.evosuite.testcase" level="WARN" /> -->

  <root level="${log.level:-WARN}">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="${log.target}" level="ALL" />	

  <!-- <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root> -->
</configuration>
