<?xml version='1.0' encoding='utf-8'?> <!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3309/mutation_test</property>
		<property name="hibernate.connection.username">mutation</property>
		<property name="hibernate.connection.password">mu</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.jdbc.batch_size">20</property>

		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

<!--  
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/mt</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.jdbc.batch_size">1</property>
-->
   
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.timeout">1000</property>
        <!--property name="hibernate.c3p0.max_statements">50</property-->
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        



<!-- SQL to stdout logging
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
-->


		<mapping class="de.unisb.cs.st.javalanche.mutation.results.Mutation"/>
		<mapping class="de.unisb.cs.st.javalanche.mutation.results.MutationTestResult"/>
		<mapping class="de.unisb.cs.st.javalanche.mutation.results.TestMessage"/>
		<mapping class="de.unisb.cs.st.javalanche.mutation.results.TestName"/>
		<!--mapping class="de.unisb.cs.st.javalanche.mutation.results.MutationCoverage"/-->
		<!-- <mapping class="de.unisb.cs.st.javalanche.mutation.results.AddResult"/> -->
		<!--mapping class="de.unisb.cs.st.javalanche.mutation.results.Invariant"/-->

		<!--mapping class="de.unisb.cs.st.javalanche.mutation.results.InvariantAddResult"/-->
		<!--mapping class="de.unisb.cs.st.javalanche.mutation.results.InvariantSet"/-->

    </session-factory>
</hibernate-configuration>
