span.foldButton {
  display: inline-block;
  margin : 0 3px 0 0;
  padding: 0 3px;
  border : 1px outset #999;
  background-color : #eee;
  white-space : nowrap;
  text-decoration : none;
  color : #08f;
  font-weight : normal;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size:10px;
  cursor: pointer;
}  
span.foldButton:hover {color: black;}  


